.banner_wrapper {
}

.banner_item.user_info {
    width: 24.4%;
    margin: 0 0.3% 7px;
}

.banner_item {
    background: #f9f9f9;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    border-radius: 9px;
    margin: 0 0.5% 10px;
    border: 1px solid #dedede;
    box-shadow: 2px 4px 3px -2px rgba(105,105,105,0.49);
}

.banner_title {
    display: block;
    font-size: 14px;
    color: #000;
    padding: 10px 5px;
    text-align: center;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.banner_content {
    padding: 7px 6px 0;
    border-bottom: 0;
    text-align: center;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.banner_content .paids {
    font-size: 16px;
    line-height: 17px;
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.banner_content .inetName a{
    text-decoration: underline;
    color: #7a8f18;
    font-weight: bold;
}

.banner_content .banner_content_name {
    min-height: 36px;
    text-align: center;
    line-height: 36px;
}

.banner_content .banner_content_name p {
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    word-break: break-word;
    padding: 0 5px;
}

.banner_content .banner_content_image {
    margin: 7px auto;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
}

.banner_content p {
    font-size: 18px;
    color: #000;
    font-weight: 300;
    text-align: center;
    line-height: 17px;
}

.banner_content img {
    width: 100%;
    display: block;
    max-height: 230px;
    max-width: 230px;
}

.banner_content img.depositeIcon {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 3px;
}

.banner_title:hover {
    background: #b4d46e;
}

.banner_title:active {
    background: #b4d46e;
}

.type1 .banner_title {
    background: #a7c02f;
}

.type1 .banner_title:hover {
    background: #b4d46e;
}

.type1 .banner_title:active {
    background: #b4d46e;
}

.type2 .banner_title {
    background: #a7c02f;
}

.type2 .banner_title:hover {
    background: #a7c02f;
}

.type2 .banner_title:active {
    background: #a7c02f;
}

.type3 .banner_title {
    background: #a7c02f;
}

.type3 .banner_title:hover {
    background: #a7c02f;
}

.type3 .banner_title:active {
    background: #a7c02f;
}

.wraper {
    min-height: calc(100vh - 57px);
}

.wraper > div > div, .footer > div > div {
    width: 1300px;
    margin: 0 auto;

}

.wraper > div {

}

.mainContent {
    height: 1800px;
    background: #FFF;
    padding-bottom: 10px;
}

body {

    font-family: 'calibri', sans-serif;
    color: #000;
    overflow-y: scroll;
}
*******input, textarea*******

input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

textarea:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

textarea:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    background: none;
    display: none;
}

textarea {
    border: 1px solid #CCC;
    resize: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    height: 100%;
    border-radius: 3px;
}

/*****************/

.blackNav {
    width: 100%!important;
    background: #050505;
}

.navbarTop {
    width: 1300px;
    margin: 0 auto;
}

.navbarTop .left, .navbar .left {
    float: left;
}

.navbarTop .right, .navbar .right {
    float: right;
}

.navbarTop li {
    padding: 10px 0;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
}

.navbarTop li.sep {
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.navbarTop li.right {
    float: right;
}

.navbarTop li.right a, .navbarTop li.right.sep {
    color: #a7c02f;
}

.navbarTop li a {
    font-size: 16px;
    color: #757575;
    font-weight: 500;
}

.navbarTop li.right a:hover {
    color: #FFF;
}

.navbarTop li a:hover,
.navbarTop li a.activGMenu{
    color: #a7c02f;
}

/*********CONTENT********/

.left_sidebar {
    float: left;
    width: 265px;
    min-height: 1px;
}

.left_sidebar .sBanner {
    width: 240px;
    height: 100px;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.left_sidebar .sBanner img {
    background: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dedede;
    box-shadow: 2px 4px 3px -2px rgba(105, 105, 105, 0.49);
}


/*****************/

.clear:after {
    content: '';
    clear: both;
    display: block;
}

.wraper > div > div:after {
    content: '';
    clear: both;
    display: block;
}

a,
button,
input [type="submit"] {
    -webkit-appearance: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a,
input,
button,
span {
    display: block;
}



html {
    background-color: #e3e3e3;
}

.header {
    height: 100px;
    margin-bottom: 40px;
}

.logo {
    z-index: 2;
    width: 270px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.logo span {
    text-align: center;
}

.logo img {
    vertical-align: middle;
}

.logo p {
    color: #EDC174;
    font-size: 17.5px;
}

.error {
    color: #FFF;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background: #b93719;
    border-radius: 3px;
}

.error:first-letter {
    text-transform: uppercase;
}



.slider_wrap {
    width: 1282px;
    height: 283px;
    box-shadow: 3px 3px 4px black;
}

.slider_wrap img {
    display: block;
    width: 100%;
}



.menu {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    position: relative;

    border-bottom: 3px solid grey;
}

.wrap_checkbox.bg2 {
    padding: 20px 1px 17px 20px;
    overflow: hidden;
}

.wrap_checkbox.bg2 > div:first-child {
    height: 520px;
}
.grid-item .grid-item-image {
    width: 44px;
    margin: 0px auto;
 
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    max-height: 220px;
    cursor: pointer;
    background: #f5f5f5;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(245, 245, 245);
}


div.alfa:hover {
    
   width: 160px;
    border: 1px solid #CCC;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
}

.flex-container > div {
     width: 160px;
  
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    padding: 3px;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
}